<%- include('../header-blog') %>

<!--BANNER-->

<div class="banner">
  <img src="<%= '/static/img/blog-post/' + post.slug + '.jpg' %>" alt="<%= post.slug %>">
  <div class="gradient"></div>
  <h1>
    <span>      
      <%- post.titulo %> 
    </span> 
  </h1>
</div>
<!--POST-->
<div class="post">
  <div class="post__content">
    <p><%- post.subTitulo %></p>
    <p class="post__published-when">Publicado em <%- post.data %></p>
    <%- post.conteudo %>
  </div>
</div>

<a id="lead-form" href="#lead-form-popup" class="btn btn-primary lead__button" type="submit">CADASTRE-SE</a>
<%- include('../leads/form') %>
<%- include('../footer-blog') %>
